(?:https?://)?twitter\.com/([a-z0-9_-]+)/statuses/.*
(?:https?://)?twitter\.com/([a-z0-9_-]+)/status/.*
(?:https?://)?twitter\.com/#!/([a-z0-9_-]+)/status/.*
(?:https?://)?twitter\.com/#!/([a-z0-9_-]+)
(?:https?://)?twitter\.com/([a-z0-9_-]+)
(?:https?://)?retwite\.appspot\.com/([a-z0-9_-]+)
(?:https?://)?([a-z0-9-]+)\.blogspot\.com
(?:https?://)?([a-z0-9-]+)\.wordpress\.com
(?:https?://)?([a-z0-9-]+)\.tumblr\.com.*
(?:https?://)?www\.xing\.com/profile/([a-z0-9_-]+)
(?:https?://)?www\.linkedin\.com/pub/dir/([a-z0-9_-]+)
(?:https?://)?www\.linkedin\.com/companies/(.+)
(?:https?://)?\w{2,3}\.linkedin\.com/in/(.+)
(?:https?://)?\w{2,3}\.linkedin\.com/pub/([a-z0-9_-]+)/.*
(?:https?://)?friendfeed\.com/([a-z0-9_-]+)/.*
(?:https?://)?www\.facebook\.com/([\.a-z0-9_-]+)
(?:https?://)?www\.facebook\.com/pages/([\.a-z0-9_-]+)/.*
(?:https?://)?\w\w-\w\w\.facebook\.com/([\.a-z0-9_-]+)
(?:https?://)?www\.facebook\.com/people/([\.a-z0-9_-]+)/.*
(?:https?://)?www\.google\.com/profiles/(.+)
(?:https?://)?www\.slideshare\.net/(.+)
(?:https?://)?([a-z0-9-]+)\.ning\.com/profile/(.+)
(?:https?://)?([a-z0-9-]+)\.lacoctelera\.net/.*
(?:https?://)?www\.britannica\.com/blogs/author/([\.a-z0-9_-]+)/
(?:https?://)?www\.flickr\.com/photos/([\.a-z0-9_-]+)/.*
(?:https?://)?www\.myspace\.com/([\.a-z0-9_-]+)