<!--
.active-controls-grid {font:menu;}
.active-column-0 {width:16px}
.active-column-1 {width:140px}
.active-column-2 {width:360px}
.active-column-3 {width:140px}
.active-column-4 {width:40px}
.active-column-5 {width:0px; background-color:#EFEBDE; visibility:hidden}
.active-column-6 {width:0px; background-color:#EFEBDE; visibility:hidden}
.active-column-7 {width:0px; background-color:#EFEBDE; visibility:hidden}
.active-scroll-bars{ overflow-y:hidden }   
.active-scroll-bars{ overflow-x:hidden }
-->