<!--

.minititle      { background-color:bisque;color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;font-size:13px }
.ministrong     { color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;font-size:12px }
.textsmall      { color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px }
.okbutton       { background-color:orange;color:white;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;height:24px } 

-->